.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #000080;
  color: white;
}
img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.player-card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
/* hover effect on player-card-image */
.player-card:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}