.body-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #000080;
  color: white;
}